.main-div {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.block {
  border: 1px solid #ddd;
  border-radius: 12px;
  // height: 40vh;
  margin: 10px;
  cursor: zoom-in;

  transition: all;
  animation: fadein 1s ease-in-out;
  @keyframes fadein {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}

.block:hover {
  // box-shadow: 1px 1px 1px 1px #ff9800, 2px 2px #ff9800, 3px 3px #ff9800, 2px 2px #ff9800
  box-shadow: 1px 1px 1px 1px #ff9800, 2px 2px 2px 2px #ff9800, 3px 3px 3px 3px #ff9800, 2px 2px #ff9800;
}

// css class
// css class
.mat-dialog-height-transition {
  transition: height 0.5s;
}